[Unit]
Description=My test Service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/admin/Documents/test.py

[Install]
WantedBy=multi-user.target

